
@{
    ViewBag.Title = "managementFee";
}

<h2>管理費管理</h2>

    <link rel="stylesheet" href="~/style/managementFee_B.css">
                    <h2>未繳名單</h2>
                    <section class="d-flex justify-content-center">
                        <h3>棟號: </h3>
                        <select name="building" id="building">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                        </select>
                    </section>
                    <table class="order-table">
                        <thead>
                            <tr>
                                <th>戶號</th>
                                <th>戶長</th>
                                <th>期數</th>
                                <th>未繳金額</th>
                                <th>通知</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>H001</td>
                                <td>Marco</td>
                                <td>2020/07</td>
                                <td>4500</td>
                                <td><button class='btn btn-danger'>催促繳費</button></td>
                            </tr>
                            <tr>
                                <td>H005</td>
                                <td>Thomas</td>
                                <td>2020/07</td>
                                <td>3000</td>
                                <td><button class='btn btn-danger'>催促繳費</button></td>
                            </tr>
                            <tr>
                                <td>B003</td>
                                <td>Tuna</td>
                                <td>2020/07</td>
                                <td>3750</td>
                                <td><button class='btn btn-danger'>催促繳費</button></td>
                            </tr>
                            <tr>
                                <td>C123</td>
                                <td>Gina</td>
                                <td>2020/07</td>
                                <td>4000</td>
                                <td><button class='btn btn-danger'>催促繳費</button></td>
                            </tr>
                        </tbody>
                    </table>